<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App | Idempotent</title>
    <link rel="stylesheet" href="/css/chat.css" />
  </head>
  <body>
    <div class="chat-container">
      <h1>Chat ~ <a href="/" class="logo_name">Idempotent</a></h1>
      <div id="chat-box">
        <% messages.forEach(message => { %>
        <div class="message" id="message-<%= message._id %>">
          <strong><%= message.username %>:</strong>
          <span class="message-text"><%= message.message %></span>
          <button
            class="edit-btn"
            onclick="editMessage('<%= message._id %>')"
            hidden
          >
            Edit
          </button>
        </div>
        <% }) %>
      </div>

      <!-- Message Form -->
      <form action="/Chat" method="post">
        <input
          type="text"
          name="username"
          value="<%= session.userName %>  "
          hidden
          required
        />
        <input
          type="text"
          name="message"
          placeholder="Type a message..."
          id="upds"
          required
        />
        <button type="submit">Send</button>
      </form>

      <div id="edit-form-container" style="display: none">
        <form id="edit-form" method="post">
          <input type="text" name="message" id="edit-message-input" required />
          <button type="submit">Save</button>
          <button type="button" onclick="cancelEdit()">Cancel</button>
        </form>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
